body {
    color: #26767e;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #061922;
}

.resume h1 {
    padding: 20px;
    text-align: center;
}
.resume img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}