* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #26767e;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #061922;
}

header {
  padding: 20px 35px;
  background-color: #092331;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #15cbd8;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
  color: #15cbd8;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

.large-picture img{
  width: 100%;
}


footer {
  background: #092331;
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color: #15cbd8;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #15cbd8;
}

/* nav sections */
.skills {
  padding: 50px;
}

.projects {
  padding: 50px;
}

.about-me {
  padding: 50px;
}

.contact {
  padding: 50px;
}

/* cards section */
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards img {
  max-width: 350px;
}

#card-1:hover{
  transform: scale(1.2);
}

#card-2:hover{
  transform: scale(1.2);
}

#card-3:hover{
  transform: scale(1.2);
}

#card-4:hover{
  transform: scale(1.2);
}

#card-5:hover{
  transform: scale(1.2);
}

#card-6:hover{
  transform: scale(1.2);
}