header {
    padding: 350px 35px;
    background-color: #0d2a2d;
  }
  
header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline;
  }

header a {
    text-decoration: none;
    color: #fce138;
  }

header nav {
    float: right top;
    margin: 7px 0;
  }
  
header nav ul li {
    display: inline;
  }
  
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }